#top {
    position: relative;
    background-color: blue;
    color: white;
    padding: 4px;
    margin: 0px 0px 10px 0px;
}

#bottom {
    position: relative;
    background-color: blue;
    padding: 5px;
    margin: 10px 0px 0px 0px;
}

#left {
    float: left;
    background-color: blue;
    padding: 5px;
    width: 210px;
}

#right {
    float: right;
    background-color: blue;
    padding: 5px;
    width: 150px;
}

.center_content {
    position: relative;
    background-color:  #ffffff;
    padding: 4px;
    margin-left: 200px;
    margin-right: 200px
}

.left_content {
    background-color: blue;
    padding: 4px;
    margin-left: 230px;
}

.right_content {
    background-color: blue;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

#top a:link, #top a:visited {
  color: white;
  font-weight : bold;
  text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
  color: black;
  font-weight : bold;
  text-decoration : underline;
}